<%- include('includes/head'); %>
<%- include('includes/nav'); %>
<div class="container ">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8"></div>
    <h1 class="text-center my-3">Agenda</h1>
    <p class="text-center lead">Veja seus contatos abaixo:</p>

    <div class="row">
      <div class="col my-3">
        <div class="alert alert-danger">Erro!</div>
      </div>
    </div>

    <div class="responsive-table"></div>

    <table class="table my-3">

      <tr>
        <td>Luiza</td>
        <td>Marcos</td>
        <td>031987136241</td>
        <td>riachocachoeira@hotmail.com</td>
      </tr>

    </table>
      <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>